/*SELECTOR UNIVERSAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*EN TODAS LAS PAGINAS*/

.navfondo {
    background-color: black;
}

.anav {
    color: white !important;
}

.navbar-toggler{
    background-color: white !important;

}

h1 {
    display: inline;
    z-index: 1;
    color: white;
    -webkit-text-stroke: 1px rgb(217, 3, 104);
    /* background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%); */
    /* background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
    background-color: black;
    position: relative;
    top: 5rem;
    left: 45%;
}

.menus {
    display: flex;
    justify-content: flex-end;
}

.actual {
    color: #d90368 !important;
}

footer {
    background-color: #d90368;
}

.icoredes {
    max-width: 5vh;
}

.imgcarrusel {
    max-height: 17rem;
    object-fit: cover;
}

.hfooter,
.sectfooter {
    display: inline;
}

.hfooter {
    color: black;
    text-align: center;
    font-size: medium;
    margin-left: 70%;
}

/* HOME - UE - PE */



/* .formcategorias {
    margin-left: 6rem;
}

label {
    padding-left: 0.6rem;
} */


/* .divlupa {
    display: inline;
    position: relative;
    left: 15%;
} */


.lupabuscador {
    height: 0.9rem;
    width: 0.9rem;

}

.card {
    padding: 2rem;
}


/*STATS*/
th {
    background-color: darkgray;

}

table,
th,
td {
    border: 1px solid black !important;
    border-collapse: collapse;
}


/*CONTACT*/
.formcontact {
    margin: 5rem 0rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30rem;
}